* 
{
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background: black;
}
h1
{
    display: block;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    flex-direction: column;
}
a
{
  color: red;
  font-size: 99px;
  position: relative;
  display: inline-block;
  margin: 20%;
  padding: 20px;
  transition: 1s;
}
a:hover
{
    background:red;
    color:black;
    box-shadow: 0 0 10px #ff0000,
                0 0 30px #ff0000,
                0 0 100px #ff0000;
    
}